<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <section class="images">
      <figure>
        <img src="/images/98.jpg" alt="" />
        <figcaption>Gladiator</figcaption>
      </figure>

      <figure>
        <img src="/images/183808.jpg" alt="" />
        <figcaption>The Joker</figcaption>
      </figure>

      <figure>
        <img src="/images/American-actor-Joaquin-Phoenix-2020.jpg" alt="" />
        <figcaption>Joaquin Phoenix</figcaption>
      </figure>
    </section>
  </body>
</html>
