body {
  font-size: 10px;
  background: rgb(114, 154, 187);
  background: linear-gradient(
    90deg,
    rgba(114, 154, 187, 1) 0%,
    rgba(255, 255, 255, 1) 45%,
    rgba(47, 85, 117, 1) 100%
  );
}

.nav-bar {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 69px;
  background-color: #a0d2eb;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  font-size: 2rem;
}

.nav-bar ul a:hover {
  color: #8458b3;
}

img {
  max-width: 550px;
  max-height: 600px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 10rem;
}

.images figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.images figcaption {
  margin: auto;
  font-size: 1.2rem;
}

.about {
  font-size: 1.5rem;
  margin: 3rem auto 0 auto;
  text-align: left;
  width: 50%;
}
